body {
        background-color: rgb(25, 15, 35);
        font-family: sans-serif;
        color: rgb(255, 255, 255);
        margin: 0px;
}
#grad {
  background-image: linear-gradient(rgb(215,210, 220), rgb(25, 150, 35);
}
div {
        min-height: 100vh;
        width: 100vw;
}
h1, h2 {
        text-align: center;
}
h3 {
      text-align: justify;
      font-size: 1.5em;
}
h1 {
      font-size: 4em;
}
h2 {
      font-size: 2.5em;
}
img {
      display: flex;
      padding: 15px;
}
p {
      margin: 10vh 10vw;
      font-size: 1.5em;
}
a:link {
      color: rgb(220, 90, 15);
      text-decoration-style: dotted;
}
a:hover {
      color: rgb(220, 90, 15);
      text-decoration: none;
}
a:active {
      color: rgb(255, 255, 255);
      text-decoration: none;
}
a:visited {
      color: rgb(220, 90, 15);
      text-decoration-style: dashed;
}
