body {
        background-image:
        url("./grass.jpg");
        color: rgb(0, 0, 0);
        font-family: sans-serif;
        margin: 0px;
}
div {
        min-height: 100vh;
        width: 100vw;
}
h1, h2 {
        text-align: center;
}
h3 {
      text-align: justify;
      font-size: 1.5em;
}
h1 {
      font-size: 4em;
}
h2 {
      font-size: 2.5em;
}
img {
      display: flex;
      padding: 15px;
}

p {
      margin: 10vh 10vw;
      font-size: 1.5em;
}
a {
      color: rgb(220, 90, 15);
}
