body {

        background-image:
        url("images/background.jpg");
        color: rgb(0, 0, 0);
        font-family: sans-serif;
        margin: 0px;
}

h1, h2 {
        text-align: center;
}
h3 {
      text-align: center;
      font-size: 1.5em;
}
h1 {
      font-size: 4em;
}
h2 {
      font-size: 2.5em;
}
img {
      display: flex;
      padding: 1px;
}


a {
      color: rgb(220, 90, 15);
}
